---
layout: page
title: Home 
---

<h1>Welcome!</h1>
<p>
    Hello everyone, my name is Paolo Cattaneo and I am a Software Engineer currently living in Milan (Italy). 
    This is my personal website, where I put both my professional experiences and my personal projects, hosted on my Github page.
</p>
<p>
    On this website you can find more information <a href="/about">about me</a>. Please be sure to check my Linkedin account and my other social media
    available above.
</p>

<hr>

<h2>My last post: <i>{% for post in site.posts limit:1 %} {{ post.title }} {% endfor %} </i></h2>
<p>
        {% for post in site.posts limit:1 %} {{ post.description }} {% endfor %}. <a href="{% for post in site.posts limit:1 %} {{ post.url }} {% endfor %}">Read more.</a>
 </p>
<img src="{% for post in site.posts limit:1 %} {{ post.image }} {% endfor %}" alt="Pic of my last C# library" title="{% for post in site.posts limit:1 %} {{ post.title }} {% endfor %}">

<h2>Blog</h2>
<p>
    Check out my <a href="/blog">Blog</a>, currently containing {{ site.posts.size }} posts about my projects or information/tips/news about the world of Software Design & Development.
</p>

